// Timeline widgets

// Imports
@import "../utils/variables/colors.less";
@import "../utils/variables/dimensions.less";
@import "../utils/mixins.less";

.widget-btn {
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 0.5rem;
  padding: 5px 0.75rem 7px;
  border: none;
  background-color: @color-default;
  color: white;
  &:focus {
    outline: none;
  }
}

// Accordion widget
.widget-accordion {
  margin-top: -5px;
  padding-top: 0.5rem;
  .border(horizontal, 1px, dashed, @color-grey);
  background: @color-paper;
  background: linear-gradient(to bottom, @color-paper, @color-default);
  &-collapse {
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
}
.is-collapsed {
  // height will be set with JS
  height: 100%;
  visibility: visible;
}

@color-light-grey: #f2f2f2;
@widget-form-width: 272px;
@widget-btn-width: 28px;

// FormFilter widget
.widget-form-filter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: @widget-btn-width;
  overflow: hidden;
  transition: right 500ms, width 500ms;

  .widget-btn-toggler {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin-left: 2px;
    padding: 6px;
    width: @widget-btn-width;
    height: 42px;
    .border(2px, solid, lighten(@color-grey, 20%));
    background-color: @color-light-grey;
    z-index: 1;
    line {
      stroke-width: 2px;
      stroke: lighten(@color-grey, 20%);
    }
  }

  &-top {
    bottom: auto;
    top: 0;
  }

  form {
    position: relative;
    margin-left: @widget-btn-width;
    padding: 12px 15px;
    background-color: @color-light-grey;
    .border(2px, solid, lighten(@color-grey, 20%));
    width: @widget-form-width;
  }
  fieldset {
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    .border(bottom, 1px, solid, @color-light-grey);
  }
  &-inline {
    display: inline-block;
    vertical-align: top;
    &:nth-child(n + 2) {
      margin-left: 0.5rem;
    }
  }
}
.widget-form-filter.active {
  width: 300px;
  .widget-btn-toggler svg {
    transform: rotate(-180deg);
  }
}

// Scrollspy widget
.widget-scrollspy {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  nav {
    flex-direction: column;
  }

  // Sub-module class name in HTML
  // http://smacss.com/book/type-module
  &-left {
    right: auto;
    left: 0;
  }
}

@widget-form-width: 430px;

@media screen and (min-width: 575px) {
  .widget-btn {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    &-toggler {
      bottom: auto;
    }
  }

  .widget-form-filter {
    right: @widget-btn-width;
    left: auto;
  
    form {
      margin-left: @widget-btn-width;
      padding: 15px 20px;
      width: @widget-form-width + @widget-btn-width;
    }
  }
  .widget-form-filter.active {
    width: @widget-form-width;
  }
}
