// Timeline widgets

// Imports
@import "../utils/variables/colors.less";
@import "../utils/variables/dimensions.less";
@import "../utils/mixins.less";

.widget-btn {
  -webkit-appearance: none;
  margin-bottom: 0.5rem;
  padding: 5px 0.75rem 7px;
  border: none;
  background-color: @color-default;
  color: white;
  &:focus {
    outline: none;
  }
  &-toggler {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin-left: 2px;
    padding: 2px 6px;
    width: @widget-btn-width;
    height: 42px;
    .border(2px, solid, lighten(@color-grey, 20%));
    border-right: none;
    background-color: @color-light-grey;
    z-index: 1;
    line {
      stroke-width: 2px;
      stroke: lighten(@color-grey, 20%);
    }
  }
}

// Accordion widget
.widget-accordion {
  margin-top: -5px;

  &-panel {
    margin-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    // .border(horizontal, 1px, dashed, @color-grey);
    background: @color-paper;
    background: linear-gradient(to bottom, @color-paper 0%, white 40%, white 60%, @color-paper 100%);
  }
  &-collapse {
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .widget-btn {
    margin-top: 0.5rem;
  }
}
.is-collapsed {
  // height will be set with JS
  height: 100%;
  visibility: visible;
}

@color-light-grey: #f2f2f2;
@widget-form-width: 272px;
@widget-btn-width: 28px;

// FormFilter widget
.widget-form-filter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: @widget-btn-width;
  overflow: hidden;
  transition: right 500ms, width 500ms;

  &-top {
    bottom: auto;
    top: 0;
  }

  form {
    position: relative;
    margin-left: @widget-btn-width;
    padding: 12px 15px;
    background-color: @color-light-grey;
    .border(2px, solid, lighten(@color-grey, 20%));
    width: @widget-form-width;
  }
  fieldset {
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    .border(bottom, 1px, solid, @color-default);
  }
  input[type="text"], input[type="search"], input[type="date"] {
    -webkit-appearance: none;
    margin-left: 0.25rem;
    border-radius: 0;
    .border(1px, solid, @color-default);
  }
  input[type="text"]:focus, input[type="search"]:focus, input[type="date"]:focus {
    outline: none;
  }
  input[type="checkbox"] {
    width: 26px;
    height: 26px;
    + label {
      margin-left: 0.25rem;
    }
  }
  input[type="range"] {
    -webkit-appearance: none;
    margin-left: 0.25rem;
    background: @color-grey;
    border-radius: 20px;
    margin-top: -3px;
    transform: translateY(-2px);
  }
  input[type=range]::-webkit-slider-runnable-track {
    margin-top: -4px;
    width: 200px;
    height: 6px;
    background: @color-grey;
    border: none;
  }
  input[type=range]::-moz-range-track {
    margin-top: -4px;
    height: 6px;
    background: @color-grey;
    border: none;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: @color-default;
    margin-top: -5px;
  }
  input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: @color-default;
    margin-top: -5px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: @color-grey;
  }
  
  // hide outline behind the border
  input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
  }
  input[type=range]:focus::-moz-range-track {
    background: @color-grey;
  }

  &-group {
    margin-bottom: 0.5rem;
  }
  &-inline {
    display: inline-block;
    vertical-align: top;
    &:nth-child(n + 2) {
      margin-left: 0.5rem;
    }
  }

  .widget-btn[type="submit"] {
    margin-bottom: 0;
  }
}
.widget-form-filter.active {
  width: 300px;
  .widget-btn-toggler svg {
    transform: rotate(-180deg);
  }
}

// Scrollspy widget
.widget-scrollspy {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  nav {
    flex-direction: column;
  }

  // Sub-module class name in HTML
  // http://smacss.com/book/type-module
  &-left {
    right: auto;
    left: 0;
  }
}

@widget-form-width: 430px;

@media screen and (min-width: 575px) {
  .widget-btn {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    &-toggler {
      padding: 2px 6px;
      bottom: auto;
    }
  }

  .widget-form-filter {
    right: @widget-btn-width;
    left: auto;
  
    form {
      margin-left: @widget-btn-width;
      padding: 15px 20px;
      width: 470px; // @widget-form-width + @widget-btn-width
    }
  }
  .widget-form-filter.active {
    width: 500px;
  }
}
