{namespace h5v=AK\TimelineVis\ViewHelpers}

<!-- Begin VideoJS -->
<div class="timeline-box ">
	
	<ul>
		<li>
			<strong>
				timeline_{timeline.uid} {timeline.title}
				<f:if condition="{timeline.rangeStart} && {timeline.rangeEnd}">
					<sup>(<f:format.date format="%d %B %Y">{timeline.rangeStart}</f:format.date> - <f:format.date format="%d %B %Y">{timeline.rangeEnd}</f:format.date>)</sup>
				</f:if>
			</strong>
			<f:comment>{f:if(condition:'{settings.ff.videowidth} > 0', then: settings.ff.videowidth, else: timeline.minWidth)}</f:comment>

			<f:if condition="{settings.timeline.rangeStart}">
				<f:comment>https://docs.typo3.org/other/typo3/view-helper-reference/11.5/en-us/typo3/fluid/latest/Format/Date.html</f:comment>
				<div class="w-100">
					Begin: <f:format.date format="%d %B %Y">{settings.timeline.rangeStart}</f:format.date><br>
					End: <f:format.date format="%d %B %Y">{settings.timeline.rangeEnd}</f:format.date>
				</div>
				<f:if condition="{timeline.description}">
					<div>
						<i><f:format.html>{timeline.description}</f:format.html></i>
					</div>
				</f:if>
			</f:if>
		</li>

		<f:if condition="{timeline.points}">
		<!-- Points -->
		<f:for each="{timeline.points}" as="point">
			<ul>
				<li>
					<f:debug>{point}</f:debug>
					<span>Timeline point {point.title} <sup><f:format.date format="d.m.Y">{point.pointdate}</f:format.date></sup></span>
					<f:if condition="{point.source}">
						<a href="{point.source}">Source</div>
					</f:if>
				</li>
			</ul>
		</f:for>
		</f:if>
	</ul>
</div>
<!-- End VideoJS -->
