<div class="tx-timeline">
	<ul>
		<li>
			<strong>
				Timeline (ID is {timeline.uid}): {timeline.title}
				<f:if condition="{timeline.rangeStart} && {timeline.rangeEnd}">
					<sup>(<f:format.date format="%d %B %Y">{timeline.rangeStart}</f:format.date> - <f:format.date format="%d %B %Y">{timeline.rangeEnd}</f:format.date>)</sup>
				</f:if>
			</strong>

			<f:if condition="{settings.timeline.rangeStart}">
				<f:if condition="{timeline.description}">
					<div>
						<i><f:format.html>{timeline.description}</f:format.html></i>
					</div>
				</f:if>
			</f:if>
		</li>

		<f:if condition="{timeline.points}">
			<!-- Points -->
			<f:for each="{timeline.points}" as="point">
				<ul>
					<li>
						<span>{point.title} <sup><f:format.date format="d.m.Y">{point.pointdate}</f:format.date></sup></span>
					</li>
				</ul>
			</f:for>
		</f:if>
	</ul>
</div>
