{namespace h5v=AK\TimelineVis\ViewHelpers}

<div class="tx-timeline ">
	<ul>
		<li>
			<strong>timeline_{timeline.uid} {timeline.title}</strong>
		</li>
		<f:comment>
			<li>{f:if(condition:'{settings.ff.videowidth} > 0', then: settings.ff.videowidth, else: timeline.minWidth)}</li>
		</f:comment>
		
		<f:if condition="{settings.timeline.rangeStart}">
			<f:comment>https://docs.typo3.org/other/typo3/view-helper-reference/11.5/en-us/typo3/fluid/latest/Format/Date.html</f:comment>
			<li><f:format.date format="%d %B %Y">{settings.timeline.rangeStart}</f:format.date></li>
		</f:if>
		<f:if condition="{timeline.webmsource}">
			<li>{timeline.webmsource}</li>
		</f:if>
		<f:if condition="{timeline.description}">
			<li><f:format.html>{timeline.description}</f:format.html></li>
		</f:if>
	</ul>
</div>
