<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:tln="http://typo3.org/ns/AK/TimelineVis/ViewHelpers"
	data-namespace-typo3-fluid="true">

<div class="tx-timeline timeline-vertical" data-hide-derived="{settings.hideDerivedPoints ? 'true' : 'false'}">
  <h2>{timeline.title}</h2>

  <f:if condition="{timeline.rangeStart} && {timeline.rangeEnd}">
    <f:then>
      <span class="timeline-range">(<tln:fardate format="%d %B %Y" isbc="{timeline.dateStartBC}">{timeline.rangeStart}</tln:fardate> - <tln:fardate format="%d %B %Y" isbc="{timeline.dateEndBC}">{timeline.rangeEnd}</tln:fardate>)</span>
    </f:then>
    <f:else>
      <f:if condition="{timeline.rangeEnd}">
        <span class="timeline-range">(<mark>&infin;</mark> - <tln:fardate format="%d %B %Y" isbc="{timeline.dateEndBC}">{timeline.rangeEnd}</tln:fardate>)</span>
      </f:if>
    </f:else>
  </f:if>

  <div class="tx-timeline-description">
    <p><f:format.html>{timeline.description}</f:format.html></p>
  </div>

  <!-- Widgets -->
  <f:if condition="{widgets} && {!settings.enablePagination}">
    <f:for each="{widgets}" as="widget">
      <f:render partial="Widget/{f:format.case(mode: 'capital', value: '{widget}')}.html" arguments="{pointsCount: timeline.points, type: 'v'}"/>
    </f:for>
  </f:if>

  <f:if condition="{timelinePoints}">
    <f:then>
      <f:if condition="{settings.enablePagination}">
        <f:then>
          <!-- Points (limited per page) -->
          <f:for each="{pagination.paginator.paginatedItems}" as="point">
            <div class="timeline-point">
              <div class="tl-content">
                <time datetime="{f:format.date(format: 'Y-m-d', date: point.pointdate)}"><tln:fardate format="%d %B %Y" isbc="{point.pointdateBC}">{point.pointdate}</tln:fardate></time>
                <div class="tl-content-main">
                  <h3>{point.title}</h3>
                  <p><f:format.html>{point.description}</f:format.html></p>
                  <f:if condition="{point.source}">
                    <f:link.external class="tl-link-more" uri="{point.source}" target="_blank" title="{point.title} link">mehr erfahren</f:link.external>
                  </f:if>
                </div>
              </div>
              <div class="tl-offcut">
                <div class="tl-offcut-spot"></div>
                <div class="tl-offcut-line"></div>
              </div>
            </div>
          </f:for>

          <!-- Pagination -->
          <f:render partial="Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator, actionName: 'show'}" />
        </f:then>
        <f:else>
          <!-- Child timeline segments -->
          <f:for each="{segments}" as="segment">
            <template data-js="timeline-segment-link">
              
            </template>
            <template data-js="timeline-segment"
              data-async="false"
              data-range-start="{tln:fardate(format: 'Y-m-d', date: segment.rangeStart)}"
              data-range-start-BC="{segment.dateStartBC}"
              data-range-end="{tln:fardate(format: 'Y-m-d', date: segment.rangeEnd)}"
              data-range-end-BC="{segment.dateEndBC}">

              <div class="timeline-segment">
                <f:for each="{segment.points}" as="point">
                  <div class="timeline-point" data-date="{f:format.date(format: 'Y-m-d', date: point.pointdate)}" data-not_ad="{point.pointdateBC}">
                    <div class="tl-content tl-content-level2">
                      <time datetime="{f:format.date(format: 'Y-m-d', date: point.pointdate)}"><tln:fardate format="%d %B %Y" isbc="{point.pointdateBC}">{point.pointdate}</tln:fardate></time>

                      <f:link.page
                        pageUid="{segment.pid}"
                        target="_blank"
                        additionalAttributes="{class: 'tl-derived-link'}">
                        <f:translate key="LLL:EXT:ak_timeline/Resources/Private/Language/locallang.xlf:timeline_source"/>
                      </f:link.page>

                      <div class="tl-content-main">
                        <h3>{point.title}</h3>
                        <p><f:format.html>{point.description}</f:format.html></p>
                        <f:if condition="{point.source}">
                          <f:link.external class="tl-link-more" uri="{point.source}" target="_blank" title="{point.title} link">mehr erfahren</f:link.external>
                        </f:if>
                      </div>
                    </div>
                    <div class="tl-offcut">
                      <div class="tl-offcut-spot"></div>
                      <div class="tl-offcut-line"></div>
                    </div>
                  </div>
                </f:for>
              </div>
            </template>
          </f:for>

          <!-- Points -->
          <f:for each="{timelinePoints}" as="point">
            <div class="timeline-point" data-not_ad="{point.pointdateBC}">
              <div class="tl-content">
                <time datetime="{f:format.date(format: 'Y-m-d', date: point.pointdate)}"><tln:fardate format="%d %B %Y" isbc="{point.pointdateBC}">{point.pointdate}</tln:fardate></time>
                <div class="tl-content-main">
                  <h3>{point.title}</h3>
                  <p><f:format.html>{point.description}</f:format.html></p>
                  <f:if condition="{point.source}">
                    <f:link.external class="tl-link-more" uri="{point.source}" target="_blank" title="{point.title} link">mehr erfahren</f:link.external>
                  </f:if>
                </div>
              </div>
              <div class="tl-offcut">
                <div class="tl-offcut-spot"></div>
                <div class="tl-offcut-line"></div>
              </div>
            </div>
          </f:for>
        </f:else>
      </f:if>
    </f:then>
    <f:else>
      <p>No points for now.</p>
    </f:else>
  </f:if>
</div>

</html>
