<html
    xmlns:timelinevis="http://typo3.org/ns/AK/TimelineVis/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="default" />
<f:section name="content">

<div class="container">
    <f:comment>@TODO with own classes/styles</f:comment>
    <div class="card p-3 p-lg-4 w-100" style="background-color: aliceblue;">
        <h4>List of timelines</h4>
        <p>Maximum number of timelines per view: {settings.timeline.max}</p>
        <p>Timeline view (style) selected: {settings.timeline.style}</p>
        <div class="list">
            <f:for each="{timelines}" as="v">
                <f:render partial="Timeline/Entry" arguments="{timeline: v}" />
            </f:for>
        </div>
    </div>

    <div style="background-color: aliceblue;">
        <h4>Last record created</h4>
        <i><f:format.html>{lastTimeline.description}</f:format.html></i>

        <f:if condition="{lastTimeline.points}">
            <!-- Points -->
            <ul>
                <f:for each="{lastTimeline.points}" as="point">
                    <li>
                        <span>{point.title} <sup><f:format.date format="d.m.Y">{point.pointdate}</f:format.date></sup></span>
                    </li>
                </f:for>
            </ul>
        </f:if>
    </div>
</div>

</f:section>

</html>
