<f:layout name="default" />

<f:section name="content">
<h1><f:translate key="timeline.headline.show" /></h1>

    <f:if condition="{timeline}">
        <f:comment>
            <f:debug>{timeline}</f:debug>
        </f:comment>

        <f:render partial="Timeline/{f:format.case(mode: 'capital', value: '{settings.timeline.style}')}.html" arguments="{_all}"/>
    </f:if>

<!-- f: link.action controller="Post" action="addForm" arguments="timeline : timeline" class="btn btn-primary"
    i class="fas fa-plus-circle"
    f:translate key="timeline.show.button.add-post" 
/f link.action -->
</f:section>
