/**
 * This file is part of the package ak/ak-timelinevis.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * Made with SMACSS
 * http://smacss.com/book/type-state
 *
*/

// Variables and declarations
@import "./utils/variables/colors.less";
@import "./utils/variables/dimensions.less";

// https://lesscss.org/features/#extend-feature

.tx-timeline-description {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 3px dashed @color-paper;
}

// Pagination
@import "./helpers/pagination.less";

// .tx-timeline-description:after { 
//   content: '';
//   position: absolute;
//   display: block;
//   border-bottom: 30px solid grey;
//   border-right: 30px solid transparent;
//   border-left: 30px solid grey;
// }
