/**
 * This file is part of the package ak/ak-timelinevis.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * Made with SMACSS
 * http://smacss.com/book/type-state
 *
*/

// Variables and declarations
@import "../utils/variables.less";

.timeline-segment {
  display: flex;
  flex-wrap: wrap;
}

// @tl-content-p-y: 12px;
// @tl-content-p-x: 15px;

.tl-content {
  margin-bottom: 5px;
  background-color: @color-paper;
  flex: 1;
  width: calc(100% - 35px);
}
.tl-content-level2 {
  background-color: @color-paper-light;
}
.timeline-segment:last-of-type .tl-content {
  margin-bottom: 0;
}

.tl-content-main {
  padding: 1.375rem 1rem 0.75rem;
  h3 {
    font-size: 1.25rem;
  }
  p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  a {
    color: @color-link;
  }
  .tl-link-more {
    padding: 5px 0.75rem 7px;
    background: @color-link;
    background: linear-gradient(to right, fade(@color-link, 65%), @color-link);
    color: #fff;
  }
  .tl-link-more:after {
    content: '';
    display: inline-block;
    border-right: 22px solid @color-link;
    border-bottom: 22px solid transparent;
    transform: translate(23px, 6px) rotate(45deg);
  }
}
.tl-content time {
  // position: absolute;
  // right: 19px;
  padding: 0 10px;
  background: #fff;
  font-size: 90%;
  line-height: 1.75;
  float: right;
}
// .tl-content:after {
//   content: '';
//   position: absolute;
//   display: block;
//   border-bottom: 30px solid @color-paper;
//   border-right: 30px solid transparent;
//   border-left: 30px solid @color-paper;
// }
.tl-offcut-line {
  width: 3px;
  height: 100%;
  background-color: @color-default;
}
.tl-offcut-spot {
  position: absolute;
}
.tl-offcut-spot:after {
  content: '';
  display: block;
  position: absolute;
  right: -9px;
  margin-top: -10px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: @color-default;
}

// Timeline variations
.timeline-vertical {
  margin-top: 30px;
  margin-bottom: 45px;
}

@media screen and (min-width: 390px) {
  .tl-content-main {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 575px) {
  .tl-content-main {
    h3 {
      font-size: 1.313rem;
    }
    .tl-link-more {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    .tl-link-more:after {
      transform: translate(30px, 6px) rotate(45deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .tl-content-main {
    padding: 1.5rem 1.25rem 1rem;
    h3 {
      font-size: 1.375rem;
    }
  }
  .tl-content time {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 2;
  }
  .tl-offcut-spot:after {
    right: -10px;
    margin-top: -12px;
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .tl-content-main {
    padding: 1.5rem 1.5rem 1.25rem;
    h3 {
      font-size: 1.5rem;
    }
  }
}
