<!--
  Collapsible points
  NOTE check accessability rules https://getbootstrap.com/docs/5.2/components/collapse/
-->

<template data-js="widget-accordion" data-tl_widget="true">
  <div class="tx-timeline-widget widget-accordion">
    <div class="widget-accordion-panel">
      <button type="button"
        class="widget-btn"
        aria-expanded="false"
        aria-controls="collapsepoint1"><f:translate key="LLL:EXT:ak_timeline/Resources/Private/Language/locallang.xlf:toggle_element"/>
      </button>
    </div>
    <div class="widget-accordion-collapse" id="collapsepoint1" data-js="collapse">
      <!-- There content will be inserted -->
    </div>
  </div>
</template>
